<style lang="scss" rel="stylesheet/scss" scoped>
.offer,
.answer {
  position: absolute;
  left: 1rem;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  &:after {
    margin-left: 1rem;
    color: black;
  }
}
.offer {
  top: 1rem;
  &:after {
    content: "offer";
  }
  background-color: cornflowerblue;
}
.answer {
  top: 3rem;
  &:after {
    content: "answer";
  }
  background-color: darkseagreen;
}
</style>

<template>
  <div>
    This id:
    {{ id }}
    <ChatView
      v-if="showGraph"
      :id="id"
      :sockets="[...sockets, 'server']"
      ref="ChatViewRef"
    ></ChatView>
    <span class="offer"></span>
    <span class="answer"></span>
    <div>
      <div v-for="peer of Object.keys(peers)" :key="peers[peer].id">
        <button
          v-if="peers[peer].connected && peer !== id"
          v-on:click="send(peers[peer], 'hello from ' + id)"
        >
          SAY HI to {{ peer }}
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import * as Peer from "simple-peer";
import io from "socket.io-client";
import { getApiUrl } from "../utils/url";
import ChatView from "../views/ChatView";
import scuttle from "simple-scuttle";
import * as stream from "stream";
import * as util from "util";
require("events").EventEmitter.defaultMaxListeners = 15;
export default {
  name: "ChatContainer",
  components: {
    ChatView
  },
  mounted() {
    this.connectSocket();
  },

  beforeDestroy() {
    this.disconnectSocket();
  },

  data() {
    return {
      id: undefined,
      ioClient: undefined,
      initiator: true,
      connected: false,
      sockets: [],
      peers: {},
      offers: {},
      answers: {},
      showGraph: false,
      nodes: [],
      connectInterval: undefined,
      gossipIntervals: {}
    };
  },

  watch: {
    ioClient: function(ioClient) {
      if (!ioClient) return;
      ioClient.on("connected", () => {
        ioClient.on("id", id => {
          console.log("id", id);
          this.id = id;
          this.connected = true;
        });
        ioClient.on("update-peers", sockets => {
          this.sockets = [...sockets];
        });
        setInterval(() => {
          ioClient.emit("heartbeat");
        }, 4000);
      });
      ioClient.on("disconnect", () => {
        this.disconnectSocket();
      });
    },

    sockets: function(sockets) {
      if (sockets && sockets.length) {
        this.showGraph = true;
        this.startPeering();
      }
    }
  },
  methods: {
    connectSocket: function() {
      if (!this.ioClient) {
        this.ioClient = io.connect(getApiUrl() + ":8000");
      }
    },

    disconnectSocket: function() {
      this.connected = false;
      console.log("disconnecting");
      if (this.ioClient) this.ioClient.disconnect(true);
      this.ioClient = undefined;
    },

    restart: function() {
      this.offers = {};
      this.answers = {};
      this.peers = {};
      this.startPeering();
    },
    createPeer: function(id, initiator) {
      this.peers[id] = new Peer({
        initiator,
        trickle: false
      });
      const config = scuttle.Base.config;
      config.resolve = scuttle.Base.resolution.strictly_order_values;

      this.peers[id].gossip = new scuttle.Gossip(id, config);
    },

    connectPeer(socketId) {
      this.peers[socketId].on("signal", signal => {
        const data = JSON.stringify(signal);
        // ANSWER
        if (signal.type === "answer") {
          this.sendingPacket(socketId, "server", "darkseagreen");
          this.sendingPacket(
            "server",
            this.offers[socketId].from,
            "darkseagreen"
          );
          this.ioClient.emit(signal.type, {
            to: this.offers[socketId].from,
            data
          });
          return;
        }
        if (!this.offers[socketId]) {
          this.offers[socketId] = {
            to: socketId,
            data
          };
          // OFFER
          this.sendingPacket(this.id, "server", "cornflowerblue");
          this.sendingPacket("server", socketId, "cornflowerblue");
          setTimeout(() => {
            if (this.ioClient)
              this.ioClient.emit(signal.type, this.offers[socketId]);
          }, 2000);
        }
      });
    },
    startPeering: function() {
      const sockets = [...this.sockets];
      sockets.forEach((socketId, i) => {
        const initiator =
          sockets.indexOf(this.id) < Math.ceil(sockets.length / 2) &&
          sockets.indexOf(this.id) <= i;
        if (!this.peers[socketId] || !this.peers[socketId].connected) {
          this.createPeer(socketId, initiator);
          this.connectPeer(socketId);
        }

        this.peerActions(socketId);
      });
      this.ioClient.on("answer", answer => {
        if (!this.answers[answer.from]) {
          this.answers[answer.from] = answer;
          this.sendingPacket(answer.from, "server", "darkseagreen");
          this.sendingPacket("server", answer.to, "darkseagreen");
          this.peers[answer.from].signal(JSON.parse(answer.data));
        }
      });

      this.ioClient.on("offer", offer => {
        if (!this.offers[offer.from]) {
          this.offers[offer.from] = offer;
          this.sendingPacket(offer.from, "server", "cornflowerblue");
          this.sendingPacket("server", offer.to, "cornflowerblue");
          this.peers[offer.from].signal(JSON.parse(offer.data));
        }
      });
    },
    peerActions: function(id) {
      this.peers[id].on("error", err => {
        this.connected = false;
        console.log("error", err);
        console.log("Restarting...");
        this.restart();
      });

      this.peers[id].on("connect", () => {
        console.log("CONNECTED!");
        /*this.showConnection(id, this.offers[id].to);*/
        Object.keys(this.peers).forEach(key => {
          if (this.peers[key].connected) {
            /*this.peers[key].send(`connected:${id}:${this.offers[id].to}`);*/
            this.gossiping(id);
          }
        });
      });

      this.peers[id].on("data", data => {
        try {
          this.peers[id].gossip.write(JSON.parse(Buffer.from(data).toString()));
        } catch (e) {
          console.log("not possible to parse:", data.toString());
        }
      });
    },
    gossiping: function(id) {
      const gossip = this.peers[id].gossip;
      const connectedPeers = Object.keys(this.peers).filter(
        p => this.peers[p].connected
      );
      gossip.set(id, connectedPeers);

      this.gossipOnce(gossip);

      gossip.on("state", stateUpdate => {
        console.log("state-update", stateUpdate);
        Object.keys(stateUpdate).forEach(key => {
          stateUpdate[key].value.forEach(connectedNode => {
            this.showConnection(id, connectedNode, "green");
          });
        });
      });
    },
    gossipOnce: function(gossip) {
      const connectedPeers = Object.keys(this.peers).filter(
        p => this.peers[p].connected && p !== this.id
      );
      //https://stackoverflow.com/questions/25393930/node-js-how-to-pipe-gzip-stream-to-writestream
      const StringifyStream = function() {
        stream.Transform.call(this);
        this._readableState.objectMode = false;
        this._writableState.objectMode = true;
      };
      util.inherits(StringifyStream, stream.Transform);
      StringifyStream.prototype._transform = function(obj, encoding, cb) {
        this.push(JSON.stringify(obj));
        cb();
      };

      const i = Math.floor(Math.random() * Object.keys(connectedPeers).length);
      gossip.pipe(new StringifyStream()).pipe(this.peers[connectedPeers[i]]);

      gossip.gossip();
    },

    send: function(p, msg) {
      console.log("peeer to send", this.peers, p);
      p.send(msg);
    },
    sendingPacket: function(from, to, color) {
      if (this.$refs.ChatViewRef) {
        this.$refs.ChatViewRef.sendToGraph({
          from,
          to,
          color
        });
      }
    },
    showConnection: function(from, to, color) {
      if (this.$refs.ChatViewRef) {
        this.$refs.ChatViewRef.drawLink({
          from,
          to,
          color
        });
      }
    },
    isKeyInData: function(data, dataKey) {
      if (data.includes(`${dataKey}:`) && data.indexOf(`${dataKey}:`) === 0)
        return data;
    }
  }
};
</script>
