<style lang="scss">
.pool-container {
  border-radius: 50%;
  margin: 1rem;
}
.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}
.nodes circle {
  stroke-width: 0.05rem;
}

text {
  font-family: sans-serif;
  fill: grey;
}
</style>
<script>
import * as d3 from "d3";
export default {
  name: "D3Pool",
  props: {
    width: { type: Number, default: 350 },
    height: { type: Number, default: 200 },
    nodes: Array,
    yourId: String,
    agreed: Boolean
  },
  data() {
    return {
      MARGIN: 20,
      d3Container: undefined,
      send: undefined
    };
  },
  computed: {
    startCondition: function() {
      return !!(this.nodes && this.nodes.length);
    }
  },

  watch: {
    nodes: function() {
      d3.selectAll("g").remove();
      this.draw();
    }
  },

  methods: {
    sendTo: function({ from, to, color }) {
      const svg = d3.select(this.$refs.d3Container);

      svg
        .select(".links")
        .selectAll("line")
        .nodes()
        .forEach(l => {
          if (l.id === `${from}=>${to}`) {
            const link = d3.select(l);
            link
              .transition()
              .duration(300)
              .attr("opacity", 1);
            const linkData = link.data()[0];
            svg
              .select(".nodes")
              .append("circle")
              .attr("id", `${from}-temporal`)
              .attr("transform", function() {
                return (
                  "translate(" + [linkData.source.x, linkData.source.y] + ")"
                );
              })
              .transition()
              .duration(500)
              .attr("fill", color)
              .attr("r", 3)
              .attr("transform", function() {
                return (
                  "translate(" + [linkData.target.x, linkData.target.y] + ")"
                );
              })
              .on("end", function() {
                this.remove();
                link
                  .transition()
                  .duration(300)
                  .attr("opacity", 0);
              });
          }
        });
    },
    drawLink: function({ from, to, color }) {
      const svg = d3.select(this.$refs.d3Container);
      svg
        .select(".links")
        .selectAll("line")
        .nodes()
        .forEach(l => {
          if (l.id === `${from}=>${to}`) {
            const link = d3.select(l);
            link
              .transition()
              .duration(300)
              .attr("stroke", color)
              .attr("opacity", 1);
          }
        });
    },
    draw: function() {
      if (!this.startCondition) {
        console.log("no start contidion");
        return;
      }

      let linkElements;
      let nodeElements;
      let textElements;
      const margin = this.MARGIN;
      const yourId = this.yourId;
      const svg = d3.select(this.$refs.d3Container);
      const nodeR = (this.width / this.nodes.length - 1) / 2;

      const linkGroup = svg.append("g").attr("class", "links");
      const nodeGroup = svg.append("g").attr("class", "nodes");
      const textGroup = svg.append("g").attr("class", "texts");

      const simulation = d3
        .forceSimulation()
        .force(
          "link",
          d3
            .forceLink()
            .id(d => d.id)
            .distance(nodeR + nodeR / 2)
        )
        .force("charge", d3.forceManyBody())
        .force("center", d3.forceCenter(this.width / 2, this.height / 2));

      function dragstarted(d) {
        if (!d3.event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
      }

      function dragged(d) {
        d.fx = d3.event.x;
        d.fy = d3.event.y;
      }

      function dragended(d) {
        if (!d3.event.active) simulation.alphaTarget(0);
        d.fx = null;
        d.fy = null;
      }

      function createLinks(links) {
        // eslint-disable-next-line no-use-before-define
        linkElements = nodeGroup.selectAll("line").data(links);
        const linkEnter = linkGroup
          .selectAll("line")
          .data(links)
          .enter()
          .append("line")
          .attr("id", d => `${d.source}=>${d.target}`)
          .attr("opacity", 0)
          .attr("stroke-width", 2);
        linkElements = linkEnter.merge(linkElements);
      }

      function createLabels(nodes) {
        textElements = textGroup.selectAll("text").data(nodes);
        const textEnter = textElements
          .enter()
          .append("text")
          .text(d =>
            d.id === "server" ? "Server" : d.id === yourId ? "You" : "Other"
          )
          .attr("text-anchor", "middle")
          .attr("font-size", "1rem")
          .attr("dy", ".35rem");
        textElements = textEnter.merge(textElements);
      }

      function createNodes(nodes, width, height) {
        nodeElements = nodeGroup.selectAll("circle").data(nodes);
        const nodeEnter = nodeElements
          .enter()
          .append("circle")
          .attr("id", d => d.id)
          .attr("r", nodeR - margin)
          .attr("fill", "white")
          .attr("x", d => (d.id === "server" ? width / 2 : d.x))
          .attr("y", d => (d.id === "server" ? height / 2 : d.y))
          .attr("stroke", d =>
            d.id === "server" ? "black" : d.id === yourId ? "blue" : "orange"
          )
          .call(
            d3
              .drag()
              .on("start", dragstarted)
              .on("drag", dragged)
              .on("end", dragended)
          );
        nodeElements = nodeEnter.merge(nodeElements);
      }

      function ticked() {
        linkElements
          .attr("x1", d => d.source.x)
          .attr("y1", d => d.source.y)
          .attr("x2", d => d.target.x)
          .attr("y2", d => d.target.y);
        textElements
          .attr("x", node => {
            return node.x;
          })
          .attr("y", node => {
            return node.y;
          });
        nodeElements
          .attr("cx", node => {
            return node.x;
          })
          .attr("cy", node => {
            return node.y;
          });
      }

      const links = this.nodes.reduce((acc, n) => {
        acc = [].concat.apply(
          acc,
          this.nodes
            .map(target => {
              return target.id !== n.id && { source: n.id, target: target.id };
            })
            .filter(y => !!y)
        );
        return acc;
      }, []);

      createLinks(links);

      createNodes(this.nodes, this.width, this.height);

      createLabels(this.nodes);

      simulation
        .nodes(this.nodes)
        .on("tick", () => ticked(this.width, this.height));

      simulation.force("link").links(links);
    }
  },
  mounted() {
    this.draw();
  },
  beforeMount() {
    d3.selectAll("g").remove();
  }
};
</script>
<template>
  <div
    class="pool-container"
    v-bind:style="{
      minWidht: `${width}px`,
      minHeight: `${height}px`
    }"
  >
    <svg
      :viewBox="`0 0 ${width} ${height}`"
      :width="width"
      :height="height"
      preserveAspectRatio="xMidYMid meet"
      ref="d3Container"
    ></svg>
  </div>
</template>
