<template>
  <div class="page">
    <h2>About</h2>
    <div class="scrolling-text">
      <div class="description">
        This project aims to be an speculative web application in which the
        processes of communication between machines, mostly in distributed
        networs, is extrapolated to be used by humans in the search of
        agreement. The procedure adapts the consensus algorithm
        <span class="code">PAXOS</span>
        which is used to determine the messages that will be replicated to all
        the nodes in the netwrok.
        <p class="maybe-change">
          In this case the information replicated would be any proposal made by
          the first suggestor, if approved there is not more data to replicate
          but the proposal itself would be important information that all nodes
          would perform.
        </p>
      </div>
    </div>
    <div class="instruction">
      <ul class="instruction-list">
        <li
          v-for="(step, i) in instructions"
          class="instruction-element"
          :key="i"
          :index="i"
        >
          {{ `${i}.'${step}` }}
        </li>
      </ul>
      <router-link to="chat" tag="button" class="btn-prim">
        Continue
      </router-link>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
  data: function() {
    return {
      instructions: [
        "Wait other peers to join the network",
        "Propose or wait for proposal",
        "Agree or disagree with proposal",
        "Perform the proposal if possible or start again to determine more details about it"
      ]
    };
  }
};
</script>

<style>
.code {
  font-family: monospace;
  margin: 0.1rem;
  padding: 0.1rem;
  font-size: 0.95rem;
  border-radius: 2px;
}

.instruction-list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description {
  text-align: justify;
}

.instruction-element {
}
</style>
