<style lang="scss">
.instructions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  & input {
    border: 1px solid black;
    border-radius: 4px;
    width: 90%;
    height: 3rem;
    font-size: 1rem;

    padding-left: 1rem;

    &::placeholder {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  form {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  & button {
    width: 5rem;
    height: 3rem;
    margin: 1rem 0;
    font-size: 1rem;
    border-radius: 4px;
    &.btn-prim {
      background: #c4c4c4;
      color: white;
    }
    &.btn-sec {
      background: transparent;
      border: 1px solid #c4c4c4;
      color: #c4c4c4;
    }
  }
}
</style>
<script>
import D3Pool from "../components/D3Pool";

export default {
  name: "ChatView",
  components: { D3Pool },
  props: {
    id: {
      type: String,
      required: true
    },
    sockets: Array,

    madeProposal: Object,
    onNoProposal: Function,
    onYesProposal: Function,
    resetProposal: Function
  },

  data() {
    return {
      proposalInput: ""
    };
  },

  computed: {
    nodes: function() {
      return this.sockets.map(id => ({ id }));
    }
  },

  methods: {
    sendToGraph: function({ from, to, color }) {
      const { D3PoolRef } = this.$refs;
      if (D3PoolRef) {
        D3PoolRef.sendTo({ from, to, color });
      }
    },
    drawLink: function({ from, to, color }) {
      const { D3PoolRef } = this.$refs;
      if (D3PoolRef) {
        D3PoolRef.drawLink({ from, to, color });
      }
    },
    onSubmit: function(e) {
      e.preventDefault();
      this.$emit("onSubmit", { proposal: this.proposalInput });
    }
  }
};
</script>
<template>
  <div ref="chatContainer">
    <D3Pool
      :yourId="id"
      :nodes="nodes"
      :agreed="madeProposal && madeProposal.agreed"
      ref="D3PoolRef"
    />

    <div class="instructions">
      <p v-if="nodes.length < 2">Waiting for peers...</p>

      <form v-if="nodes.length >= 2 && !madeProposal" v-on:submit="onSubmit">
        <input
          type="text"
          name="proposal"
          placeholder="Make a proposal..."
          v-model="proposalInput"
        />
        <button class="btn-prim" type="submit">
          Propose
        </button>
      </form>
      <div v-if="nodes.length >= 2 && madeProposal && madeProposal.time > 0">
        <p>New proposal! take {{ madeProposal.time }}s to give an answer</p>
        <form>
          <input type="text" :value="madeProposal.proposal" :disabled="true" />
          <div class="buttons">
            <button type="button" class="btn-prim" v-on:click="onYesProposal">
              Yes
            </button>
            <button type="button" class="btn-sec" v-on:click="onNoProposal">
              No
            </button>
          </div>
        </form>
      </div>
      <div v-if="madeProposal && madeProposal.agreed != null">
        <p v-if="!madeProposal.agreed">Proposal was not resolved! Try again</p>

        <div v-if="madeProposal.agreed">
          <p>Proposal has been resolved</p>
          <p>You agreed on</p>
        </div>
        <form>
          <input type="text" :value="madeProposal.proposal" :disabled="true" />
          <button type="button" class="btn-prim" v-on:click="resetProposal">
            Start again
          </button>
        </form>
      </div>
    </div>
  </div>
</template>
