<style lang="scss" scoped>
.cover {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-size: 4rem;
  width: 100%;
  flex-wrap: wrap;
}
</style>
<script>
export default {
  name: "LandingPage",
  data: () => ({
    showCover: true,
    timer: undefined
  }),
  created() {
    this.timer = setTimeout(() => this.handleCoverClick(), 20000);
  },
  methods: {
    handleCoverClick: function() {
      clearTimeout(this.timer);
      this.showCover = false;
      this.$router.push("/about");
    }
  }
};
</script>
<template>
  <div class="page" v-on:click="handleCoverClick">
    <div class="cover" v-if="showCover">
      <h1 class="title">Consensus made easy</h1>
    </div>
  </div>
</template>
